server {
    listen 80;
    server_name opnsense.aperosbros.net;
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    server_name opnsense.aperosbros.net;

    ssl_certificate /etc/letsencrypt/live/aperosbros.net/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/aperosbros.net/privkey.pem;

    location / {
        proxy_pass https://192.168.1.254:8443;
        proxy_ssl_verify off;
        proxy_ssl_server_name on;
        proxy_set_header Host 192.168.1.254:8443;
    }
}
