server {
    listen 80;
    server_name pve.aperosbros.net;
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    server_name pve.aperosbros.net;

    ssl_certificate /etc/letsencrypt/live/aperosbros.net/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/aperosbros.net/privkey.pem;

    root /var/www/aperosbros;

    

    location / {
        allow 192.168.0.0/16;
        allow 10.3.0.0/16;
        deny all;
        error_page 403 =200 @guru;
        proxy_pass https://192.168.1.2:8006;
        proxy_ssl_verify off;
        proxy_ssl_server_name on;
        proxy_set_header Host 192.168.1.2:8006;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_http_version 1.1;
    }
    location @guru {
        rewrite ^ /index.html break;
    }
}
