server {
    listen 80;
    server_name transmission.aperosbros.net;
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    server_name transmission.aperosbros.net;

    ssl_certificate /etc/letsencrypt/live/aperosbros.net/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/aperosbros.net/privkey.pem;

    allow 192.168.0.0/16;
    allow 10.3.0.0/16;
    deny all;

    location / {
        proxy_pass http://127.0.0.1:9091;
        proxy_set_header Host $host;
    }
}
